

 .card-img-top{
    height: 260px;
 }

 .card_tatuadores{
    border: none;
    background-color: rgba(0, 0, 0, 0.219) !important;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    transform-style: preserve-3d;
 }

 .card_tatuadores:hover{
    transform:scale(1.02);
    cursor: hand;
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
}

.list-group-tatuadores{
    background-color: rgba(0, 0, 0, 0.219) !important;
    color: white;
}

.estrellas{
    width: 80px;
}

.link_none{
    text-decoration: none;
}