.navbar{
    background-color: #ffffff;
}

.Link{
    text-decoration: none;
}

.navbar-toggler-icon{
    background-image: url('https://cdn0.iconfinder.com/data/icons/user-interface-150/24/List_menu_toggle-512.png');
}

.navbar-toggler-icon-nav{
    background-image: url('https://www.clipartmax.com/png/full/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png');
}

.nav-link{
    color: rgb(0, 0, 0);
    font-size: large !important;
    cursor: pointer;
}

.nav-link:hover{
    color: #7e7e7e;
}

.btn-search{
    border-color: #fcfcfc;
    color: #ffffff;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    -ms-transition: 200ms all;
    -o-transition: 200ms all;
}

.btn-search:hover{
    border-color: #838383;
    background-color: #838383;
}

.logoNav{
    max-height: 50px;
    max-width: auto;
}

.Links{
    text-decoration: none;
}

.collapse{
}

.navbar-nav{
    margin-left: 30%;
}
/* 
.nav-link_tatuador{
    border-right: solid 1px rgb(0, 0, 0);
}


.nav-link_preguntas{
    border-right: solid 1px rgb(0, 0, 0);
} */








