

 .card-img-top{
    height: 250px;
 }

 .oculto_img_card{
    position: absolute;
    width: 120px;
    height: 25px;
    align-items: center;
    display: table;
    background-color: black;
}

.estilo_tatuador_card{
    color: white;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
}

.like_cora_button{
    border: white;
    height: 25px;
    float: right;
    width: 28px;
}

 .card_tatuadores{
    border: none;
    background-color: rgba(0, 0, 0, 0.219) !important;
    transition: transform 0.4s;
    transform-style: preserve-3d;
 }

 .card_tatuadores:hover{
    transform:scale(1.02);
    cursor: hand;
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
}

.list-group-tatuadores{
    background-color: rgba(0, 0, 0, 0.219) !important;
    color: white;
}

.estrellas{
    width: 80px;
}

.link_none{
    text-decoration: none;
}

.visitas{
    color: rgb(185, 185, 185);
}